<a href="https://www.kaggle.com/code/ngodingai/introduction-pandas-dataframe?scriptVersionId=263152101" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [1]:
import pandas as pd

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/contoh-sales-penjualan/sample_data_sales.csv

# Load Data
Tujuan: load & preview head & tails

In [2]:
df = pd.read_csv('/kaggle/input/contoh-sales-penjualan/sample_data_sales.csv')

In [3]:
df.head()

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

      Tanggal Operator  Penjualan  Harga Satuan
0  2024-01-01    Arhan        4.0        5000.0
1  2024-01-01     Sari        3.0        4000.0
2  2024-01-01     Dina        NaN        6000.0
3  2024-01-11     Mita        3.0        4000.0
4  2024-01-11     Reza       31.0           NaN

# Quick Check
methods: describe, shape, columns, dtypes, info, isnull

In [4]:
len(df)

20

In [5]:
df.describe()

       Penjualan  Harga Satuan
count  16.000000     17.000000
mean    9.187500   4588.235294
std    11.467163    618.346942
min     3.000000   4000.000000
25%     3.000000   4000.000000
50%     4.500000   5000.000000
75%     6.000000   5000.000000
max    41.000000   6000.000000

In [6]:
df.dtypes

Tanggal          object
Operator         object
Penjualan       float64
Harga Satuan    float64
dtype: object

In [7]:
df.shape

(20, 4)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Tanggal       20 non-null     object
 1   Operator      20 non-null     object
 2   Penjualan     16 non-null     float64
 3   Harga Satuan  17 non-null     float64
dtypes: float64(2), object(2)
memory usage: 772.0+ bytes

In [9]:
df.isnull()['Harga Satuan'].sum()

3

# Subsetting

In [10]:
df[df['Operator']=='Arhan']

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

       Tanggal Operator  Penjualan  Harga Satuan
0   2024-01-01    Arhan        4.0        5000.0
5   2024-01-11    Arhan       21.0        4000.0
8   2024-02-08    Arhan        5.0           NaN
11  2024-02-24    Arhan       41.0        5000.0
14  2024-01-11    Arhan        4.0        5000.0
16  2024-02-08    Arhan        5.0        5000.0

# Data Cleaning
methods: rename columns, fillna, astype

In [11]:
median_penjualan = df['Penjualan'].median()
median_hs = df['Harga Satuan'].median()

In [12]:
median_penjualan, median_hs

(4.5, 5000.0)

In [13]:
df['Penjualan'] = df['Penjualan'].fillna(median_penjualan)
df['Harga Satuan'] = df['Harga Satuan'].fillna(median_hs)

In [14]:
df

       Tanggal Operator  Penjualan  Harga Satuan
0   2024-01-01    Arhan        4.0        5000.0
1   2024-01-01     Sari        3.0        4000.0
2   2024-01-01     Dina        4.5        6000.0
3   2024-01-11     Mita        3.0        4000.0
4   2024-01-11     Reza       31.0        5000.0
5   2024-01-11    Arhan       21.0        4000.0
6   2024-01-11     Sari        5.0        5000.0
7   2024-02-08     Dina        4.5        4000.0
8   2024-02-08    Arhan        5.0        5000.0
9   2024-02-08     Sari        4.0        5000.0
10  2024-02-24     Dina        3.0        4000.0
11  2024-02-24    Arhan       41.0        5000.0
12  2024-04-11     Sari        6.0        4000.0
13  2024-04-11     Dina        4.5        4000.0
14  2024-01-11    Arhan        4.0        5000.0
15  2024-02-08     Sari        3.0        5000.0
16  2024-02-08    Arhan        5.0        5000.0
17  2024-02-08     Sari        4.5        5000.0
18  2024-02-08     Dina        6.0        5000.0
19  2024-02-24     Mita        3.0        4000.0

# Modify Dataframe
new columns, apply function

In [15]:
df['Total'] = df['Penjualan'] * df['Harga Satuan']

In [16]:
df

       Tanggal Operator  Penjualan  Harga Satuan     Total
0   2024-01-01    Arhan        4.0        5000.0   20000.0
1   2024-01-01     Sari        3.0        4000.0   12000.0
2   2024-01-01     Dina        4.5        6000.0   27000.0
3   2024-01-11     Mita        3.0        4000.0   12000.0
4   2024-01-11     Reza       31.0        5000.0  155000.0
5   2024-01-11    Arhan       21.0        4000.0   84000.0
6   2024-01-11     Sari        5.0        5000.0   25000.0
7   2024-02-08     Dina        4.5        4000.0   18000.0
8   2024-02-08    Arhan        5.0        5000.0   25000.0
9   2024-02-08     Sari        4.0        5000.0   20000.0
10  2024-02-24     Dina        3.0        4000.0   12000.0
11  2024-02-24    Arhan       41.0        5000.0  205000.0
12  2024-04-11     Sari        6.0        4000.0   24000.0
13  2024-04-11     Dina        4.5        4000.0   18000.0
14  2024-01-11    Arhan        4.0        5000.0   20000.0
15  2024-02-08     Sari        3.0        5000.0   15000.0
16  2024-02-08    Arhan        5.0        5000.0   25000.0
17  2024-02-08     Sari        4.5        5000.0   22500.0
18  2024-02-08     Dina        6.0        5000.0   30000.0
19  2024-02-24     Mita        3.0        4000.0   12000.0

# Sorting Data

In [17]:
df_sorted = df.sort_values('Tanggal', ascending=True)

In [18]:
df_sorted[df_sorted['Operator']=='Arhan'].sort_values('Total', ascending=False)

       Tanggal Operator  Penjualan  Harga Satuan     Total
11  2024-02-24    Arhan       41.0        5000.0  205000.0
5   2024-01-11    Arhan       21.0        4000.0   84000.0
16  2024-02-08    Arhan        5.0        5000.0   25000.0
8   2024-02-08    Arhan        5.0        5000.0   25000.0
0   2024-01-01    Arhan        4.0        5000.0   20000.0
14  2024-01-11    Arhan        4.0        5000.0   20000.0

# Aggregation
groupby, mean, median

In [19]:
df.dtypes

Tanggal          object
Operator         object
Penjualan       float64
Harga Satuan    float64
Total           float64
dtype: object

In [20]:
df['Total'].sum()

781500.0

In [21]:
df.groupby('Operator')[['Total']].mean()

                  Total
Operator
Arhan      63166.666667
Dina       21000.000000
Mita       12000.000000
Reza      155000.000000
Sari       19750.000000

In [22]:
df.groupby('Operator').agg({
    'Total': ['mean', 'median', 'max', 'min']
})

                  Total
                   mean    median       max       min
Operator
Arhan      63166.666667   25000.0  205000.0   20000.0
Dina       21000.000000   18000.0   30000.0   12000.0
Mita       12000.000000   12000.0   12000.0   12000.0
Reza      155000.000000  155000.0  155000.0  155000.0
Sari       19750.000000   21250.0   25000.0   12000.0

# Merge and Concat

In [23]:
df_arhan = df[df['Operator']=='Arhan']
df_sari = df[df['Operator']=='Sari']

In [24]:
df_arhan

       Tanggal Operator  Penjualan  Harga Satuan     Total
0   2024-01-01    Arhan        4.0        5000.0   20000.0
5   2024-01-11    Arhan       21.0        4000.0   84000.0
8   2024-02-08    Arhan        5.0        5000.0   25000.0
11  2024-02-24    Arhan       41.0        5000.0  205000.0
14  2024-01-11    Arhan        4.0        5000.0   20000.0
16  2024-02-08    Arhan        5.0        5000.0   25000.0

In [25]:
df_sari

       Tanggal Operator  Penjualan  Harga Satuan    Total
1   2024-01-01     Sari        3.0        4000.0  12000.0
6   2024-01-11     Sari        5.0        5000.0  25000.0
9   2024-02-08     Sari        4.0        5000.0  20000.0
12  2024-04-11     Sari        6.0        4000.0  24000.0
15  2024-02-08     Sari        3.0        5000.0  15000.0
17  2024-02-08     Sari        4.5        5000.0  22500.0

In [26]:
df_arhan_sari = pd.concat([df_arhan, df_sari])

In [27]:
df_arhan_sari

       Tanggal Operator  Penjualan  Harga Satuan     Total
0   2024-01-01    Arhan        4.0        5000.0   20000.0
5   2024-01-11    Arhan       21.0        4000.0   84000.0
8   2024-02-08    Arhan        5.0        5000.0   25000.0
11  2024-02-24    Arhan       41.0        5000.0  205000.0
14  2024-01-11    Arhan        4.0        5000.0   20000.0
16  2024-02-08    Arhan        5.0        5000.0   25000.0
1   2024-01-01     Sari        3.0        4000.0   12000.0
6   2024-01-11     Sari        5.0        5000.0   25000.0
9   2024-02-08     Sari        4.0        5000.0   20000.0
12  2024-04-11     Sari        6.0        4000.0   24000.0
15  2024-02-08     Sari        3.0        5000.0   15000.0
17  2024-02-08     Sari        4.5        5000.0   22500.0

In [28]:
df_arhan_clean = df_arhan[['Tanggal', 'Total']].rename(columns={
    'Total': 'Total_Arhan'
})

In [29]:
df_sari_clean = df_sari[['Tanggal', 'Total']].rename(columns={
    'Total': 'Total_Sari'
})

In [30]:
df_arhan_clean_agg = df_arhan_clean.groupby(['Tanggal']).sum().reset_index()

In [31]:
df_sari_clean_agg = df_sari_clean.groupby(['Tanggal']).sum().reset_index()

In [32]:
df_arhan_clean_agg

      Tanggal  Total_Arhan
0  2024-01-01      20000.0
1  2024-01-11     104000.0
2  2024-02-08      50000.0
3  2024-02-24     205000.0

In [33]:
df_sari_clean_agg

      Tanggal  Total_Sari
0  2024-01-01     12000.0
1  2024-01-11     25000.0
2  2024-02-08     57500.0
3  2024-04-11     24000.0

In [34]:
df_final = pd.merge(df_arhan_clean_agg, df_sari_clean_agg, left_on='Tanggal', right_on='Tanggal', how='inner')

In [35]:
df_final

      Tanggal  Total_Arhan  Total_Sari
0  2024-01-01      20000.0     12000.0
1  2024-01-11     104000.0     25000.0
2  2024-02-08      50000.0     57500.0

# Export

In [36]:
# df_final.to_csv('/kaggle/input/contoh-sales-penjualan/sample_data_sales_output.csv')